.application-type-container {
    display: flex;

}

.application-type-container .application-type i {
    background: var(--payvance-color);
    color: #fff;
    padding: 5px 10px;
    font-size: large;
    border-radius: 6px;
    margin-right: 10px;
}

.application-type-container .application-type {
    margin: 0 10px 10px 0;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

.next-back-btns {
    display: flex;
    justify-content: end;

}

.btn-next,
.btn-back {
    border: 1px solid var(--payvance-color);
    color: var(--payvance-color);
    border-radius: 8px;
    padding: 5px 20px;
    margin: 10px;
}

input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
}

/* /////////////////////////////////////////////////////// */

/* cam */
.good {
    background: #d4edda;
    color: #155724;
    padding: 5px 10px;
    margin: 4px auto;
    border-radius: 6px;
    width: 75%;

}

.bad {
    background: #f8d7da;
    color: #721c24;
    padding: 5px 10px;
    margin: 4px auto;
    border-radius: 6px;
    width: 75%;

}

.hints {
    background: #fff3cd;
    color: #856404;
    padding: 5px 10px;
    margin: 4px auto;
    border-radius: 6px;
    width: 75%;

}