body {
    background: var(--payvance-bodybg);
}

.bi {
    cursor: pointer;
}

/* stepper css below */
.stepper-container {
    border: 5px solid var(--payvance-bodybg);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 21%, rgba(183, 239, 219, 1) 100%);
    border-radius: 15px;
}

/* stepper css above */


.vertical-stepper {
    position: relative;
    padding-left: 40px;
}

.stepper-item {
    position: relative;
    padding-bottom: 15%s;
}

.stepper-item:not(:last-child):after {
    content: '';
    position: absolute;
    left: -24px;
    top: 35px;
    height: calc(100% - 40px);
    width: 2px;
    background-color: #e5e7eb;
    /* Default line color */
}

/* Completed state line */
.stepper-item.completed:not(:last-child):after {
    background-color: var(--payvance-color);
    /* Emerald 500 for completed */
}

/* Active state line */
.stepper-item.active:not(:last-child):after {
    background-color: var(--payvance-color);
    /* Blue 500 for active */
}

.stepper-number {
    position: absolute;
    left: -40px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e5e7eb;
    /* Default gray */
    color: #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2;
}

/* Completed state */
.stepper-item.completed .stepper-number {
    background-color: var(--payvance-color);
    position: absolute;
    border: 1px solid var(--payvance-color);
    color: white;
}

/* Active state */
.stepper-item.active .stepper-number {
    background-color: var(--payvance-color);
    position: absolute;
    border: 1px solid var(--payvance-color);
    color: white;
}

.stepper-item.completed .stepper-number:before,
.stepper-item.active .stepper-number:before {
    position: absolute;
    display: block;
    content: '';
    border: 2px solid white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.stepper-title {
    font-size: 14px;
    color: gray;
}

.stepper-item.completed .stepper-title {
    color: #333
}

.step-title {
    font-size: 10px;
    color: gray;
}


.stepper-subtitle {
    font-size: 10px;
    color: #9ca3af;
    /* Light gray */
}

/* Checkmark for completed steps */
.stepper-item.completed .bi {
    display: none;
}

.stepper-item.completed .stepper-number:after {
    content: '✓';
    font-size: 14px;
}

.footer-icon-collection i {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
}