# Laravel
/dao_backend/vendor
/dao_backend/.env
/dao_backend/node_modules
/dao_backend/public/storage
/dao_backend/storage/*.key
/dao_backend/storage/framework/cache/data
/dao_backend/storage/logs
/dao_backend/storage/framework/views
/dao_backend/storage/app/public

# React
/front-end/node_modules
/front-end/build
/front-end/.env
/fornt-end/nohup.out
/front-end/vite.config.js

#signaling server
/signaling-server/node_modules

# General
*.log
*.DS_Store
.env
