.App {
  width: 100%;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: var(--payvance-bodybg);
  color: var(--text-color);
  transition: background-color 0.25s ease-in-out;
}
.dark .App, .dark.App {background-color: #363636 !important;}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dark, .dark input, .dark select, .dark span, .dark small, .dark td, .dark .rdrDayNumber span, .dark .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, .dark .rdrMonthAndYearPickers select, .dark li,
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 , .dark p, .dark label, .dark a,.dark .stepper-title, .dark .stepper-footer span,.dark .stepper-footer i ,.dark td.css-jiabcu-MuiTableCell-root,.dark svg{
  color: #f6f6f6 !important;
} 
body {
    background: var(--payvance-bodybg);
}
 body.dark,
.dark body {
    background: #374151;
}
.dark .modal-content, .dark .css-1gtchvp-MuiPaper-root{background: #374151;}

 .dark .rdrCalendarWrapper{background-color: #111827;border:1px solid #374151;border-radius: 6px; }
 
tr:hover{background-color: transparent;}
.title {
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--foreground-color);
}